@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
/* Univeral */

a {
	text-decoration: none;
}

/* SignInUp */

.parent-div-signup {
	display: flex;
}

#signInUp {
	color: black;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 1;
}

.content {
	display: flex;
	position: absolute;
	top: 0;
	/* left: 0; */
	/* right: 0; */
	color: #f1f1f1;
	z-index: 2;
}

.card {
	display: grid;
	grid-template-columns: 350px;
    grid-template-rows: 360px 60px 20px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,227,10,0.75);
    text-align: center;
    margin-right: 45px;
    transition: 0.5s ease;
    cursor: pointer;
}

.card-image {
    grid-area: image;
    background: url("../images/student-front.jpg");
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-size: cover;
}

.card-image2 {
    grid-area: image;
    background: url("../images/institute-front.jpg");
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-size: cover;
}

.card-text {
    grid-area: text;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,227,10,0.75);
}

/* Login Student */

.login-student {
	background: url("https://res.cloudinary.com/therealdaaku/image/upload/v1648898300/Verichain/5816231_cu3cmb.jpg");
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.signin-container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 700px;
	max-width: 100%;
	max-height: 480px;
}

.form-container {
	position: relative;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 100%;
	z-index: 2;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 90%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
    border-radius: 25px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 80%;
}

button {
	border-radius: 25px;
	border: 3px solid #192E92;
	background-color: #192E92;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

.shift {
	border: 3px solid white;
	margin-top: 25px;
	color: #eee;
	text-decoration: none;
}

.inside-button {
	color: white;
	font-size: 14px;
}

.social-container {
	margin-top: 10px;
}

span {
	margin-bottom: -20px;
}

a.forgot {
	color: black;
}

a:on-click{
	text-decoration: none;
	color: black;
}

/* SignUp Student */

.signup-container {
	background: url("https://res.cloudinary.com/therealdaaku/image/upload/v1648898300/Verichain/5816231_cu3cmb.jpg");
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sign-up-container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
	0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 700px;
	max-width: 100%;
	max-height: 480px;
}

#signupcontainer {
	left: 0;
	width: 100%;
	z-index: 2;
}

span.signup {
	margin-bottom: 0px;
}

#signup-button {
	margin-top: 10px;
}

/* Student Dashboard */

